<h1> Listing Players </h1>
<%= link_to 'Back', root_path %>

<table>
    <tr>
        <th>Username</th>
    </tr>

    <% @players.each do |player| %>
        <tr>
            <td><%= player.username %></td>
            <td><%= link_to 'Show', player_path(player) %></td>
            <td><%= link_to 'Edit', edit_player_path(player) %></td>
        </tr>
    <% end %>
</table>
