<p>
    <strong>Username:</strong>
    <%= @player.username || 'Unknown' %>
</p>
<p>
    <strong>SteamID:</strong>
    <%= @player.steamid %>
</p>

<%= link_to 'Back', players_path %>
<%= link_to 'Edit', edit_player_path(@player) %>
